.gameColumn {
  display:flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  min-width:$tokenDiameter + (2 * $columnBorderWidth);
  height: $columnHeight;
  border: $columnBorderWidth solid $grid-border;
  border-top: 0;
}