.dropButton {
  width:$tokenDiameter;
  height:$tokenDiameter;
  border-radius:$tokenDiameter / 2;
  margin:$columnBorderWidth;

  &:hover {    
    border: 5px solid $token-border-colour;
    cursor: pointer;
  }

  &.red:hover {
      background-color: $red;
  }

  &.yellow:hover {
    background-color: $yellow;
  }
}