.gameGrid {
  display:inline-flex;
  flex-direction: row;
  align-items: flex-end;  
  border: $columnBorderWidth solid $grid-border;
  border-top: 0;
  background: $faded-grid-colour;
  background: -moz-linear-gradient(top,  $faded-grid-colour 0%, $grid-colour 78%);
  background: -webkit-linear-gradient(top,  $faded-grid-colour 0%, $grid-colour 78%);
  background: linear-gradient(to bottom,  $faded-grid-colour 0%, $grid-colour 78%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$faded-grid-colour}', endColorstr='{$grid-colour}',GradientType=0 );
}