.gameToken {
  width:50px;
  height:50px;
  border-radius:50px;
  border: 5px solid $token-border-colour;
  z-index: 1000;
  position:relative;

  &.gameToken-enter {
    &.position-0 {
      top: -320px;
    }
    &.position-1 {
      top: -270px;
    }
    &.position-2 {
      top: -220px;
    }
    &.position-3 {
      top: -170px;
    }
    &.position-4 {
      top: -120px;
    }
    &.position-5 {
      top: -70px;
    }

    &.gameToken-enter-active {
      top: 0px;
      transition-property: top;
      transition-timing-function: ease-in;

        &.position-0 {          
          transition-duration: 480ms;
        }
        &.position-1 {
          transition-duration: 420ms;
        }
        &.position-2 {
          transition-duration: 360ms;
        }
        &.position-3 {
          transition-duration: 300ms;
        }
        &.position-4 {
          transition-duration: 240ms;
        }
        &.position-5 {
          transition-duration: 180ms;
        }
    }
  }

  &.gameToken-leave {
    &.gameToken-leave-active {
      transform: scale(0,0);
      transition: transform 500ms ease-in;
    }
  }

  

  &.red {
    background: $red;
  }

  &.yellow {
    background: $yellow;
  }

  &.winner {
    z-index: 1001;
    animation: celebrate 1s 300ms 3;
    @keyframes celebrate {
      0% {
        transform: scale(1,1)
      }
      50% {
        transform: scale(2,2)
      }
      100% {
        transform: scale(1,1)
      }
    }
  }
}

