@mixin positionAnimation($n) {
  // Create rules for positions 0 to n-1

  $i: 0;
  @while $i <= $n {
    &.position-#{$i} {
      @include getPositionStyle($i);
      $i: $i + 1;
    }
  }
}

@mixin getPositionStyle($pos) {
  // Start each token from the top of its column - adjusting for the tokens below it
  top: -($columnHeight) + ($tokenDiameter * $pos);

  &.gameToken-enter-active {
    top: 0px;    
    transition-property: top;
    transition-timing-function: ease-in;

    // Animate dropping over less time if we are moving a shorter distance
    transition-duration: 480ms - (60ms * $pos);
  }
}

.gameToken {
  width:$tokenDiameter;
  height:$tokenDiameter;
  border-radius:$tokenDiameter / 2;
  border: 5px solid $token-border-colour;

  // z-index so we are above the dropbutton
  z-index: 1000;
  position:relative;

  &.gameToken-enter {
    // 6 is the number of possible token positions within a column
    @include positionAnimation(6);
  }

  &.gameToken-leave {
    &.gameToken-leave-active {
      transform: scale(0,0);
      transition: transform 500ms ease-in;
    }
  }

  &.red {
    background: $red;
  }

  &.yellow {
    background: $yellow;
  }

  &.winner {
    // position winning tokens above others
    z-index: 1001;
    
    animation: celebrate 1s 300ms 3;
    @keyframes celebrate {
      0% {
        transform: scale(1,1)
      }
      50% {
        transform: scale(2,2)
      }
      100% {
        transform: scale(1,1)
      }
    }
  }
}

